$primary_dark: #242424;
$primary_light_bg: #f4f7fb;
$primary_green: #04AA6D;

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Roboto, sans-serif;
  background: #f4f7fb;
  color: #253238;
  margin: 0;
  display: block;
  min-width: 320px;
  min-height: 100vh;
}

header {
  background: linear-gradient(120deg, #4404aa, #044caa, #057e84, #058457, #a0d137);
  color: #fff;
  padding: 100px 20px;
  text-align: center;
}

#hero {
  h1 {
    color: #fff;
    margin-top: 0;
    font-size: 6.4em;
    line-height: 1.1;
  }

  p {
    color: rgba(255, 255, 255, 0.7);
  }

  mark {
    background: none;
    color: rgba(255, 255, 255, 1);
  }
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;

  &:hover {
    color: #535bf2;
  }
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

main {
  max-width: 96px;
  margin: 0 auto;
  background: #fff;
  padding: 10px 20px;
  border-radius: 0px;
}

section {
  background: #fff;
  border-radius: 12px;
  padding: 24px;
  margin-bottom: 24px;
  box-shadow: 0 10px 25px rgba(15, 23, 42, 0.08);

  h2 {
    margin-top: 0;
    color: #04AA6D;
  }
}

.card {
  border: 1px solid #dde4f0;
  padding: 10px 20px;
  border-radius: 12px;
  margin-bottom: 24px;
  background: #fff;
}

#intro {
  h2 {
    color: #04AA6D;
  }
}

footer {
  padding: 24px;
  text-align: center;
  background: #e8edf4;
  font-size: 0.9rem;
}

mark {
  background: #fffd91;
}

#app {
  display: block;
  max-width: 1280px;
  margin: 2rem auto 0;
  padding: 2rem;
  text-align: center;
}

.logo {
  display: inline-block;
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;

  &:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
  }

  &.vanilla:hover {
    filter: drop-shadow(0 0 2em #f7df1eaa);
  }
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 0px;
  border: 2px solid transparent;
  padding: 0.2em 0.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

.navbar-toggler {
  margin-left: auto;
  border-radius: 0px;
  border: 2px solid transparent;
  padding: 0.2em 0.2em;
  transition: border-color 0.25s;
  background-color: #1a1a1a;

  &:focus,
  &:focus-visible,
  &:hover {
    box-shadow: none !important;
    outline: none !important;
    border-color: #ccccd4;
  }

  &:active {
    transform: scale(0.97);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}